%h2
  = t 'api_header'

%p
  %strong Uwaga: wszystkie poniższe operacje wymagają przekazania tzw. certyfikatu proxy użytkownika.
  Więcej
  informacji na jego temat znajduje się na końcu dokumentacji. W przykładach zakładamy, że znajduje się on w pliku
  %code grid_proxy
  w katalogu bieżącym. Certyfikat ten można przekazać przez parametr wywołania, o nazwie
  %code proxy
  lub przez nagłówek
  = surround '(',')' do
    %em header
  o nazwie
  = succeed '.' do
    %code PROXY
  Obie te możliwości można zobaczyć w przykładach. W tym drugim przypadku treść proxy musi zostać odpowiednio
  zakodowana.

%p
  Wszystkie poniższe operacje zdalne na serwerze PLGData wykonywane są przy pomocy protokołu HTTPS, poprzez
  wywołanie jednej z operacji HTTP (np. GET lub POST) na wskazany URL, z przekazaniem wymienionych parametrów.

%p
  Ścieżki do folderów i plików podane w przykładach poniżej będą przez serwer rozumiane jako prowadzące do
  systemu plików klastra o identyfikatorze
  = succeed '.' do
    %code site_key
  Aktualne wpierane są następujące klastry:
  = render "sites"

%h3 Pobieranie listy zawartości folderu

%dl.dl-horizontal
  %dt
    %code
      %strong GET:
  %dd
    %code https://data.plgrid.pl/list/[site_key]/[folder_path]

Jako parametr wywołania należy przekazać zawartość cartyfikatu proxy w parametrze o nazwie
= succeed '.' do
  %code proxy
Wywołanie operacji zwraca dokument JSON z zawartością wskazanego folderu,
z uwzględnieniem podfolderów i zbiorów ukrytych. Dokument
zawiera listę zbiorów, dla każdego zbioru prezentując następujące informacje:

%dl.dl-horizontal
  %dt rights
  %dd
    Lista praw dostępu, w
    %a(href='http://en.wikipedia.org/wiki/File_system_permissions#Notation_of_traditional_Unix_permissions') formacie POSIX
    tj.
    %code drwxrwxrwx
    ze znakiem
    %code -
    w miejscu braku danych uprawnień

  %dt owner
  %dd
    Nazwa użytkownika, który jest posiadaczem zbioru. Dla tego użytkownika działa pierwsza trójka praw dostępu
    wymienionych w polu
    %code rights

  %dt group
  %dd
    Nazwa grupy systemowej, do której należy zbiór. Dla wszystkich użytkowników należących do tej grupy działa
    druga trójka praw dostępu wymienionych w polu
    %code rights

  %dt size
  %dd Wielkość zbioru w bajtach

  %dt modification_date
  %dd Data ostatniej modyfikacji pliku, podana w języku angielskim, w formacie: MMM [D]D HH:mm

  %dt name
  %dd Nazwa zbioru

  %dt is_dir
  %dd
    Flaga logiczna informująca, czy zbiór jest folderem czy plikiem. Podobną informację można uzyskać analizując
    pierwszą literę wartości pola
    %code rights

Przykładowy element zwracanego dokumentu JSON:

%pre
  :escaped
    {"rights":"drwxr-xr-x","owner":"plguserlogin","group":"plgrid","size":2048,"modification_date":"May 6 18:24","name":"my_folder","is_dir":true}

Przykład wywołania operacji z użyciem narzędzia linii komend
%code curl

%pre
  :escaped
    curl -X GET https://data.plgrid.pl/list/[site_key]/net/people/plguserlogin/ --data-urlencode proxy="`cat grid_proxy`"

Przykład wersji z przekazaniem certyfikatu proxy przez nagłówek wywołania operacji:
%pre
  :escaped
    curl -X GET https://data.plgrid.pl/list/[site_key]/net/people/plguserlogin/ -H "PROXY:`cat grid_proxy | base64 | tr -d '\n'`"


%h3 Pobieranie pliku z klastra

%dl.dl-horizontal
  %dt
    %code
      %strong GET:
  %dd
    %code https://data.plgrid.pl/download/[site_key]/[file_path]

Jako parametr wywołania należy przekazać zawartość cartyfikatu proxy w parametrze o nazwie
= succeed '.' do
  %code proxy
Opercja uruchamia pobieranie wskazanego pliku z klastra, poprzez strumieniowane łącze szyfrowane. Klient wywołania
operacji jest zobowiązany odpowiednio obsłużyć pobieranie i zapisywanie danych ze strumienia.

Przykład wywołania operacji z użyciem narzędzia linii komend
%code curl

%pre
  :escaped
    curl -X GET https://data.plgrid.pl/download/[site_key]/net/people/plguserlogin/graph.png
    --data-urlencode proxy="`cat grid_proxy`"



%h3 Zapisywanie pliku na klaster

%dl.dl-horizontal
  %dt
    %code
      %strong POST:
  %dd
    %code https://data.plgrid.pl/upload/[site_key]/[target_folder_path]

Obecnie ładowanie plików na serwer przez API jest ograniczone do objęctości 256 MB.
Operacja zakłada przekazanie następujących parametrów wywołania POST:
%dl.dl-horizontal
  %dt file
  %dd
    Ładowany plik, analogicznie jak w przypadku wysyłania pliku formularzem, w formacie
    %strong multipart

  %dt proxy
  %dd Zawartość cartyfikatu proxy użytkownika, na rzecz którego wysyłamy plik na klaster

  %dt locale
  %dd Opcjonalny parametr, którego wartość można ustawić na 'en' aby otrzymywać komunikaty zwrotne w języku angielskim

  %dt recursive
  %dd
    Opcjonalny parametr, którego użycie spowoduje utworzenie docelowego folderu, rekursywnie (tj. z wszystkimi ew.
    pośrednimi folderami), jeśli wskazany folder docelowy jeszcze nie istnieje na klastrze.

Przykład wywołania operacji z użyciem narzędzia linii komend
%code curl

%pre
  :escaped
    curl -X POST https://data.plgrid.pl/upload/[site_key]/net/people/plguserlogin/zzzz/ -F proxy="`cat grid_proxy`"
    -F "file=@graph.png"

Przykład wersji z przekazaniem certyfikatu proxy przez nagłówek wywołania operacji:
%pre
  :escaped
    curl -X POST https://data.plgrid.pl/upload/[site_key]/net/people/plguserlogin/zzzz/
    -H "PROXY:`cat grid_proxy | base64 | tr -d '\n'`" -F "file=@graph.png"

Tu z kolei została użyta alternatywna opcja rekursywnego tworzenia folderów:
%pre
  :escaped
    curl -X POST https://data.plgrid.pl/upload/[site_key]/net/people/plguserlogin/zzzz/1/2/3/ -F proxy="`cat grid_proxy`"
    -F "file=@graph.png" -F locale=en -F recursive=true


%h3 Tworzenie nowego folderu

%dl.dl-horizontal
  %dt
    %code
      %strong POST:
  %dd
    %code https://data.plgrid.pl/mkdir/[site_key]/[target_folder_path]

Pozwala założyć nowy folder o wskazanej ścieżce i nazwie, w systemie plików klastra. Są następujące parametry wywołania:
%dl.dl-horizontal
  %dt proxy
  %dd Zawartość cartyfikatu proxy użytkownika, na rzecz którego wykonujemy operację tworzenia folderu

  %dt recursive
  %dd
    Opcjonalny parametr, którego użycie spowoduje utworzenie docelowego folderu rekursywnie - tj. zostaną utworzone
    także wszystkie pośrednie nadfoldery wskazane w ścieżce.

Przykład wywołania operacji z użyciem narzędzia linii komend
%code curl

%pre
  :escaped
    curl -X POST https://data.plgrid.pl/mkdir/[site_key]/net/people/plguserlogin/zzz/eeee -F proxy="`cat grid_proxy`"

%pre
  :escaped
    curl -X POST https://data.plgrid.pl/mkdir/[site_key]/net/people/plguserlogin/zzz/eeee/1/2 -F proxy="`cat grid_proxy`"
    -F recursive=true



%h3 Usuwanie pliku bądź folderu z klastra

%dl.dl-horizontal
  %dt
    %code
      %strong DELETE:
  %dd
    %code https://data.plgrid.pl/remove/[site_key]/[file_or_folder_path]

Powoduje usunięcie wskazanego zbioru z klastra. Parametry wywołania są następujące:
%dl.dl-horizontal
  %dt proxy
  %dd Zawartość cartyfikatu proxy użytkownika, na rzecz którego wykonujemy operację kasowania zbioru

  %dt is_dir
  %dd
    Parametr ten jest wymagany, a jego wartość powinna być ustawiona na
    = succeed ',' do
      %code true
    jeśli chcemy skasować folder. Jest to wymagane ponieważ protokół GridFTP, którego PLGData używa jako warstwy
    pośredniczącej w operacjach na plikach na klastrze, rozróżna operację kasowania pliku od operacji kasowania
    folderu.

  %dt locale
  %dd Opcjonalny parametr, którego wartość można ustawić na 'en' aby otrzymywać komunikaty zwrotne w języku angielskim

Przykład wywołania operacji z użyciem narzędzia linii komend
%code curl

%pre
  :escaped
    curl -X DELETE https://data.plgrid.pl/remove/[site_key]/net/people/plguserlogin/graph.png -F proxy="`cat grid_proxy`"

%pre
  :escaped
    curl -X DELETE https://data.plgrid.pl/remove/[site_key]/net/people/plguserlogin/zzz/ -F proxy="`cat grid_proxy`"
    -F "is_dir=true"

%h3 Transfer (kopiowanie) pliku

%dl.dl-horizontal
  %dt
    %code
      %strong PUT:
  %ddk
    %code https://data.plgrid.pl/transfer/[site_key]/[sourcke_file_path]

Operacja kopiuje plik z klastra do innego miejsca na klastrze. Parametry wywołania są następujące:
%dl.dl-horizontal
  %dt proxy
  %dd Zawartość cartyfikatu proxy użytkownika, na rzecz którego wykonujemy transfer

  %dt destination_path
  %dd
    Wymagany parametr który powinien być ścieżką do miejsca zapisania kopii pliku.
    W ścieżce powinna się znaleźć nazwa nowego pliku

  %dt locale
  %dd Opcjonalny parametr, którego wartość można ustawić na 'en' aby otrzymywać komunikaty zwrotne w języku angielskim

Przykład wywołania operacji z użyciem narzędzia linii komend
%code curl

%pre
  :escaped
    curl -X PUT https://data.plgrid.pl/transfer/[site_key]/net/people/plguserlogin/dir1/file.txt -F proxy="`cat grid_proxy`"
    -F "destination_path=/net/people//plguserlogin/dir2/copied_file.txt"

%h3 Certyfikat proxy użytkownika PL-Grid

%p
  Certyfikat proxy X509 użytkownika PLGData jest generowany w chwili logowania się do usługi (drugie pole z hasłem).
  Aby skorzystać z przedstawionego API, trzeba ten certyfikat posiadać np. w postaci pliku, na komputerze, na którym
  wykonuje się polecenie (bądź kod) komunikujący się z API PLGData.

%p
  Najłatwiej ów certyfikat proxy wygenerować komendą:

%pre
  :escaped
    read -s p && echo $p | ssh -l plguserlogin pro.cyfronet.pl "grid-proxy-init -q -pwstdin && cat /tmp/x509up_u\`id -u\`" > grid_proxy && unset p

Należy najpierw podać swój
%i passphrase
do klucza prywatnego (właśnie to drugie hasło z ekranu logowania OpenId). Na ekranie nie pojawi się żadne wezwanie aby
podać passphrase, ale możesz go wpisać bezpiecznie, wprowadzone hasło będzie ukryte na twoim ekranie. Następnie
proszę zaloguj się do swojego konta na Prometeuszu, podając hasło do
%code plguserlogin
na klastrze.

Po wykonaniu polecenia aktualny certyfikat proxy powinien znajdować się na lokalnym komputerze, w katalogu
bieżącym, w pliku pod nazwą
= succeed '.' do
  %code grid_proxy
Będzie on ważny przez kolejnych dwanaście godzin.
