# {{ ansible_managed }}

RAILS_ENV={{ deploy_env }}
APP_PATH={{ deploy_user_home }}/{{ deploy_name }}
RAILS_MASTER_KEY={{ rails_master_key }}
PLGDATA_DATABASE={{ deploy_database }}
RAILS_LOG_TO_STDOUT=true
