%div{ "data-controller": "tab" }
  %ol.breadcrumb.d-flex.align-items-center.bg-light

    %span.me-2
      = succeed ':' do
        = t 'listing_folder'

    %li.breadcrumb-item-root
      = link_to '/' , folder_path(path: "")

    - current_crumb = ''
    - URI::Parser.new.unescape(path).split('/').select{ |c| c.present? }.each do |crumb|
      - current_crumb += crumb + '/'
      %li.breadcrumb-item
        = link_to crumb.truncate(64), folder_path(path: current_crumb)

    = render "actions/copy", copy_path: path

    %li.ms-3
      %button.btn.btn-success.btn-sm{ data: { "bs-toggle" => "tooltip", "bs-placement" => "top", action: "tab#switch", tab: { target: "button", content: "file-upload" } }, title: t('upload.upload_files')}
        = bi_cloud_arrow_up_fill

        %span.d-none.d-md-inline
          = t 'upload.upload_files'

      %button.btn.btn-success.btn-sm{ data: { "bs-toggle" => "tooltip", "bs-placement" => "top", action: "tab#switch", tab: { target: "button", content: "mkdir" } }, title: t('folder.new_folder')}
        = bi_folder_fill
        %span.d-none.d-md-inline
          = t 'folder.new_folder'

  .row.border-bottom.pb-3.mx-3.m-3.d-none{ data: { tab: { target: "content", content: "mkdir" } } }
    = render "new_folder"

  .row.border-bottom.pb-3.mx-3.m-3.d-none{ data: { tab: { target: "content", content: "file-upload" } } }
    = render "upload"

