%td.text-end{ "data-controller" => "opener", "data-opener-timeout-value" => 5000 }
  .d-none{ "data-opener-target" => "part", "data-opener-remove-class" => "d-none" }
    %span.d-none.d-lg-inline-block= t 'confirm.sure'
    .btn-group.btn-group-sm
      = button_to delete_file_path(path: target_path, is_dir: entry[:is_dir]), class: 'btn btn-danger', method: :delete do
        = t 'confirm.resp_yes'
      %button.btn.btn-light{ "data-action" => "opener#close" }
        = t 'confirm.resp_no'

  %button.btn.btn-warning.btn-sm{ "data-bs-toggle" => "tooltip", "data-bs-placement" => "top", title: t("delete_button_#{entry[:is_dir] ? 'folder' : 'file'}"), "data-action" => "opener#show", "data-opener-target" => "part", "data-opener-add-class" => "d-none" }
    = bi_x_circle
    %span.d-none.d-lg-inline-block
      = t 'delete.delete_file'
