- target_path = entry_path(entry)
%tr.infinite-item.align-middle
  %td
    %span(data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" title="#{owner_tooltip(entry)}")
      = bi_person_fill

  - if entry[:owner] == Current.login
    %td.text-nowrap.d-none.d-lg-table-cell{ "data-controller" => "toggler", "data-toggler-toggle-class" => "d-none" }
      %span.font-monospace{ "data-toggler-target" => "toggle" }= entry[:rights]
      = form_tag update_file_path(path: target_path), method: :put, class: 'd-none d-flex font-monospace', "data-toggler-target" => "toggle" do
        .flex-grow-1
          = hidden_field_tag :is_dir, entry[:is_dir]
          %label.visually-hidden(for="mode")= t 'chmod.new_rights'
          = text_field_tag :mode, entry[:rights][1..-1], class: 'form-control form-control-sm', "data-controller" => "imask", "data-imask-regex-value" => "((r|-)(w|-)(x|-)){3}", "data-imask-placeholder-value" => "---------", "data-action" => "input->imask#onChange"
        %button.btn.btn-sm.btn-success{ type: 'submit', "aria-label" => t("chmod.confirm") }
          = bi_check
        %span.btn.btn-sm.btn-light{ "data-action" => "click->toggler#toggle" }
          = bi_x
      %button.btn.btn-sm.btn-default{ title: t('chmod_button'), "data-action" => "toggler#toggle", "data-toggler-target" => "toggle", "aria-label" => t('chmod_button') }
        = bi_pencil_square
  - else
    %td.text-nowrap.d-none.d-lg-table-cell
      %span.font-monospace= entry[:rights]

  %td.text-end
    %span.text-nowrap(title="#{entry[:size]} B")= number_to_human_size entry[:size]

  %td.d-none.d-lg-table-cell= entry[:modification_date]

  = render "name", entry: entry, target_path: target_path

  %td
    %span.d-inline-block.d-sm-none{title: entry[:is_dir] ? t('dir') : t('file')}
      = (entry[:is_dir] ? t('dir_mobile') : t('file_mobile'))
    %span.d-sm-none.d-md-inline-block
      = (entry[:is_dir] ? t('dir') : t('file'))

  = render "delete", entry: entry, target_path: target_path
