- if @more_entries
  #load-more.d-flex.justify-content-center.align-items-center.text-muted{ "data-controller" => "pagination", "data-pagination-next-url-value" => folder_path(page: params[:page] ? params[:page].to_i + 1 : 2) }
    %span(class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true")
    = t 'loading_more_data'
