- valid_name = remove_invalid entry[:name]
- display_name = truncate(valid_name, length: 64)
- file_path = entry[:is_dir] ? folder_path(path: target_path) : file_path(path: target_path)

- if entry[:owner] == Current.login
  %td.text-nowrap{ "data-controller" => "toggler", "data-toggler-toggle-class" => "d-none" }
    %button.btn.btn-secondary.btn-sm.chmod-button{ "data-bs-toggle" => "tooltip", "data-bs-placement" => "top", title: t('name_button'), "data-toggler-target" => "toggle", "data-action" => "toggler#toggle", "aria-label" => t("name_button") }
      = bi_pencil_square
    %span{ "data-toggler-target" => "toggle" }
      = link_to display_name, file_path
      = render "actions/copy", copy_path: target_path

    = form_tag update_file_path(path: target_path), method: :put, class: 'd-none d-flex', "data-toggler-target" => "toggle" do
      .flex-grow-1
        = hidden_field_tag :is_dir, entry[:is_dir]
        %label.visually-hidden(for="destination")= t 'rename.new_name'
        = text_field_tag :destination, valid_name, class: 'form-control form-control-sm'
      %button.btn.btn-sm.btn-success{ type: 'submit', "aria-label" => t("rename.confirm") }
        = bi_check
      %span.btn.btn-sm.btn-light{ "data-action" => "click->toggler#toggle" }
        = bi_x
- else
  %td
    %span.name
      = link_to display_name, file_path
      = render "actions/copy", copy_path: target_path

