= form_tag(create_folder_path(path:), class: 'row g-2', role: :form) do
  .col-lg-5.col-md-8.col-sm-12
    %label.visually-hidden(for="folder_name")= t 'folder.name_label'
    %input.form-control.form-control-sm(name="folder_name" type="text"){placeholder: t('folder.name_label')}

  .col
    %button.btn.btn-primary.btn-sm(type="submit")
      %i.glyphicon.glyphicon-plus-sign
      %span= t 'folder.create_folder'
