%h4
  = t 'no_access'

- if alert and alert.include? 'Permission denied'
  %p
    = t 'not_permitted'

- if alert and alert.include? 'Gridmap lookup failure'
  %p
    = t 'no_account'
  %p
    =raw t 'no_gridmapfile', your_account: "<a href='https://portal.plgrid.pl/web/guest/useraccount'>#{t 'your_accout_page'}</a>"

- if alert and alert.include? 'No such file or directory'
  %p
    = t 'does_not_exists'

-#%p
-#  Podczas komunikacji z zasobami dyskowymi Infrastruktury PL-Grid wystąpił następujący błąd protokołu
-#  dostępu do plików:
-#
-#  = alert
