= render 'breadcrumbs'

.row
  .col.h6.d-flex.justify-content-end
    = t 'folder_summary', all_entries: @all_entries, hidden_entries: @hidden_entries
    - if @hidden_entries > 0
      = link_to cookies[:hide_hidden] ? t('show') : t('hide'), folder_path(hide_hidden: !cookies[:hide_hidden]),
        title: (cookies[:hide_hidden] ? t('show_title') : t('hide_title'))

%table.table.table-hover.table-responsive
  %thead
    %tr
      %th.very-thin
      %th.d-none.d-lg-table-cell.medium= t 'rights'
      %th.very-thin.text-end= t 'size'
      %th.thin.d-none.d-lg-table-cell= t 'modification_date'
      %th= t 'name'
      %th.very-thin= t 'type'
      %th.medium
  %tbody#entries
    = render partial: "entry", collection: @entries, as: :entry

= render "load_more"
