%button.btn.btn-sm{ data: { controller: "clipboard opener", action: "clipboard#copy opener#show", "clipboard-text-value" => "/"+copy_path, "bs-toggle" => "tooltip", "bs-placement" => "top" }, "aria-label" => t("copy_path"), title: t("copy_path") }
  = bi_clipboard("data-opener-target": "part", "data-opener-add-class": "d-none")
  = bi_clipboard_check("data-opener-target": "part", "data-opener-remove-class": "d-none", class: "text-success d-none")
