# {{ ansible_managed }}

upstream {{ codename }}-{{ app_env }} {
  server unix:/home/{{ user }}/{{ app_env }}/tmp/server.socket;
}

server {
    server_name {{ server_name }};
    listen 80;
    listen [::]:80;
    server_tokens off;

    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    server_name {{ server_name }};
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_tokens off;

    ssl_certificate /etc/certs/{{ codename }}-{{ app_env }}/cert;
    ssl_certificate_key /etc/certs/{{ codename }}-{{ app_env }}/key;
    ssl_session_timeout 1d;
    ssl_session_cache shared:MozSSL:10m;  # about 40000 sessions
    ssl_session_tickets off;

    ssl_protocols TLSv1.2;
    ssl_prefer_server_ciphers off;

    access_log /var/log/{{ codename }}-{{ app_env }}/access.log;
    error_log /var/log/{{ codename }}-{{ app_env }}/error.log;

    root /home/{{ user }}/{{ app_env }}/public;

    location / {
        try_files $uri $uri/index.html $uri.html @{{ codename }}-{{ app_env }};
    }

    location ~* ^/assets/ {
        expires 1y;
        add_header Cache-Control public;
        gzip_static on;
        add_header ETag "";
        break;
    }

    location @{{ codename }}-{{ app_env }} {
        proxy_redirect off;

        proxy_http_version 1.1;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $remote_addr;

        proxy_pass http://{{ codename }}-{{ app_env }};
    }
}
