%h1
  = t 'welcome'

%p
  = t 'welcome_message', service_title: t('service_title')

- if I18n.locale  == :pl
  %p
    = succeed '.' do
      Dokładna instrukcja uzyskania dostępu do usługi i użytkowania jej znajduje się
      %strong
        %a(href='https://docs.cyfronet.pl/x/64es')
          w podręczniku użytkownika

- unless Current.user.present?
  %p
    = t 'login_instruction'

  .span3
    = link_to "/auth/plgrid", class: "btn btn-lg btn-primary" do
      = t 'plgrid_login'


- else
  %p
    = t 'intro_instruction'



-# TODO logout from IDP?
-# - if params[:logout]
-#   %iframe(style='display:none'){src: Plgdata::Application.config.plgrid_openid_logout}
