%h2
  = t 'not_found.title'

.alert.alert-warning
  %h4
    %i.glyphicon.glyphicon-random
    = t 'not_found.subtitle'
  = t 'not_found.message'
  = succeed '.' do
    = link_to t('not_found.go_back'), root_path
