%h2
  = t 'server_error.title'

.alert.alert-danger
  %h4
    %i.glyphicon.glyphicon-fire
    = t 'server_error.subtitle'
  = t 'server_error.message'
  = succeed '.' do
    = link_to t('server_error.go_back'), root_path
