// Place all the styles related to the Folders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Multi-File uploader settings (Folder show view)

.files div.progress, .fileupload-progress div.progress {
  margin-bottom: 0px;
}

.fileupload-progress div.progress {
  margin-top: 10px;
}

.files div.progress {
  width: 200px;
}

#fileupload textarea {
  width: 320px;
}

.right-margin {
  margin-right: 3px;
}

// Download file icon
.download-icon {
  margin-left: 5px  ;
}

.fileinput-button {
  position: relative;
  overflow: hidden;
  float: left;
  margin-right: 5px;
}

.fileupload-buttonbar {
  .fileinput-button, .start {
    box-sizing: border-box;
    width: 100%;
  }
}

.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
}
