.container.d-flex.justify-content-between.align-items-center
  %span.text-muted
    Copyright &copy; 2013-2021
    = link_to t(:author), footer_link('cyfronet')
    = t :reserved
    = link_to t(:helpdesk), footer_link('helpdesk')
    = t :cookies_info
    = succeed ':' do
      = t :further_resources
    = succeed '.' do
      = link_to t('api_link'), help_path(category: :api)

  %span.text-muted
    = link_to image_tag('cyfronet_logo.png'), footer_link('cyfronet')
    = link_to image_tag('logo_plus.png'), footer_link('plgrid')
    = image_tag("poig_logo_#{I18n.locale or 'pl'}.png")
