%nav.navbar.navbar-expand-lg.navbar-dark.bg-primary(role="navigation")
  .container-fluid
    = link_to "PLG-Data", root_path, class: "navbar-brand"

    %button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#full-navbar" aria-controls="full-navbar" aria-expanded="false" aria-label="Toggle navigation")
      %span.navbar-toggler-icon

    .navbar-collapse.collapse#full-navbar
      %ul.navbar-nav.me-auto

        - if Current.user.present?
          - Current.user.site_clients.each do |site_client|
            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle(href="#" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
                = site_client.name
                %b.caret
              .dropdown-menu
                - site_client.dirs.each do |name, path|
                  = link_to name, folder_path(site_key: site_client.key, path: path.delete_prefix("/")),
                    class: 'dropdown-item'
        - else
          .navbar-text= t 'leadline'

      %ul.navbar-nav.justify-content-end
        - if Current.user.present?
          - if content_for?(:help)
            %li{title: t('main_menu.help.tooltip'), data: {placement: 'bottom'}}
              %a.navbar-btn(href='#' data-toggle='collapse' data-target='.help-content')
                %i.icon-question-sign.icon-white

          -#%li{:title => t('main_menu.issue.tooltip'), 'data-placement' => 'bottom'}
          -#  %a(data-target='#report-issue' data-toggle='modal' href='#')
          -#    %i.icon-wrench.icon-white
          -#

          %li.nav-item
            = button_to logout_path, method: :delete, class: "nav-link btn btn-link" do
              = bi_eject_fill
              = t 'sign_out'
          %li.nav-item
            %button.nav-link.btn.btn-link{ "data-bs-toggle" => "tooltip", "data-bs-placement" => "bottom", "data-bs-html" => "true", title: user_info(Current.user) }
              = bi_person_fill

      %ul.navbar-nav.justify-content-end
        %li.nav-item
          .btn-group(data-toggle="buttons-radio")
            - I18n.available_locales.each do |lang|
              - opts = params
              - opts[:locale] = lang
              = link_to_unless(I18n.locale == lang, lang.upcase, opts.permit!, class: 'navbar-btn btn btn-sm btn-primary') do
                .navbar-btn.btn.btn-sm.btn-primary.active= lang.upcase
