<!DOCTYPE html>
<html class="h-100">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Plgdata</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="d-flex flex-column h-100 pb-0">
    <main class="container flex-shrink-0">
      <%= render 'layouts/navbar' %>

      <% if notice %>
          <p class="alert alert-dismissable alert-success flash-notice mt-3"><%= notice %></p>
      <% end %>
      <% if alert %>
          <p class="alert alert-dismissable alert-danger mt-3"><%= alert %></p>
      <% end %>

      <div class="bg-ultra-light mt-3 p-3 border border-2">
        <%= yield %>
      </div>
    </main>

    <footer class="footer mt-auto py-3">
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</body>
</html>
